site: DACC
url: daccpampa.github.io
title: Diretório Acadêmico da Ciência da Computação do Pampa
description: O Diretório Acadêmico do curso de Bacharelado em Ciência da Computação da Universidade Federal do Pampa
twitter:
  username: #yourusername
  card: summary
  creator: #yourusername
author:
  name: DACC
  avatar:
  email: dacc@unipampa.edu.br
  url: #yoururl
permalink: pretty

baseurl: ""

highlighter: none

exclude:
  - .jekyll-cache
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir:          _sass
  style:            :compressed

plugins:
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap  

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
