<header role="banner">
      <nav role="navigation">

<ul>
   <img src="https://avatars1.githubusercontent.com/u/42003319?s=460&u=22038b8d46cbc023fbde6b7fc730f6d2ce522826&v=4" style="border-radius: 50%!important;" width="90%"/>

   <!-- ![avatar](https://avatars1.githubusercontent.com/u/42003319?s=460&u=22038b8d46cbc023fbde6b7fc730f6d2ce522826&v=4 "boch.dev") -->

   <li><a href="/" class="logo">{{ site.title }}</a></li>

   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
   {% endfor %}
</ul>
</nav>
</header>