<header role="banner">
      <!--<h1 class="logo">{{ site.title }}</h1>-->
      <nav role="navigation">
<ul>
   {% for item in site.data.navigation.links %}
      <li><a href="{{ item.url }}"class="nav-link {% if item.url == page.url %} active{% endif %}">{{ item.title }}</a></li>
   {% endfor %}
   <li><label style="cursor: pointer;" for="darkmode-toggle">~lights</label>
      <input style="display:none" id="darkmode-toggle" class="darkmode-toggle" aria-label="toggle dark mode" type="checkbox"></li>
</ul>

</nav>
</header>