<div id="grey pt1 pb1">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        <a href="/">home</a> / 
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            {{ crumb | replace:'-',' ' | remove:'.html' }}
          {% else %}
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a> /
          {% endif %}
        {% endfor %}
        </div>